@using Microsoft.AspNet.Identity
@model viajanet.Models.Compra

@{
    ViewBag.Title = "Compra";
}

<h2>Confirmação de compra</h2>


<form action="@Url.Action("confirmCompra","Compras")" method="post" oninput="calc_total();">

   
    <div class="panel panel-info">
        <div class="panel-heading">
          
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <hr />
                <input type="hidden" name="Fk_Usuario" value="@User.Identity.GetUserId()" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label for="" class="control-label">
                                    Responsável
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class=""></i>
                                        <label class="form-control text-left"></label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label for="" class="control-label">
                                    Quantidade de crianças
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-arrow-up"></i>
                                    </span>
                                    <input id="qtdCr" type="number" value="0" name="Qtd_Criancas" required class="form-control" min="0" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label for="" class="control-label">
                                    Quantidade de adultos
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-arrow-up"></i>
                                    </span>
                                    <input id="qtdAd" type="number" required name="Qtd_Adultos" value="1" class="form-control" min="1" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label for="" class="control-label">
                                    Valor Total
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-mon"></i>
                                    </span>
                                    <input id="valorTotal" type="text" name="Valor_Total" readonly required class="form-control" value="@ViewBag.Viajem.Valor" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <!--viagem--->
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h4>Informações da viajem</h4>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="FK_Viajem" value="@ViewBag.Viajem.Id" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label for="" class="control-label">
                                    De
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-map-marker"></i>
                                    </span>
                                    <input class="form-control" type="text" readonly value="@ViewBag.Viajem.Cidade.Nome" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label for="" class="control-label">
                                    Data de embarque
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input class="form-control" readonly value="@ViewBag.Viajem.Data_Ida.ToShortDateString()" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label for="" class="control-label">
                                        Para
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-map-marker"></i>
                                        </span>
                                        <input type="text" readonly class="form-control" value="@ViewBag.Viajem.Cidade1.Nome" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label for="" class="control-label">
                                        Data de retorno
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input type="text" readonly class="form-control" value="@ViewBag.Viajem.Data_Volta.ToShortDateString()" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label for="" class="control-label">
                                        Valor
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-money"></i>
                                        </span>
                                        <input id="valorViajem" type="text" readonly class="form-control" value="@ViewBag.Viajem.Valor" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />
                

                @if (ViewBag.Hotel != null) // esta parte só será exibida se o usuário selecionou um hotel
                {
                    <!--Hotel--->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-header">
                                <h4>Informações do hotel</h4>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="FK_Hotel" value="@ViewBag.Hotel.Id" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label for="" class="control-label">
                                        Hotel
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-bed"></i>
                                        </span>
                                        <input type="text" readonly class="form-control" value="@ViewBag.Hotel.Nome" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label for="" class="control-label">
                                        Bairro
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-map-marker"></i>
                                        </span>
                                        <input type="text" readonly class="form-control" value="@ViewBag.Hotel.Bairro" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label for="" class="control-label">
                                        Longradouro (Rua/Avenida/Setor)
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-map-marker"></i>
                                        </span>
                                        <input type="text" readonly class="form-control" value="@ViewBag.Hotel.Longradouro" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label for="" class="control-label">
                                        CEP
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-map-o"></i>
                                        </span>
                                        <input class="form-control" type="text" readonly value="@ViewBag.Hotel.Cep" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label for="" class="control-label">
                                        Telefone
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                        <input class="form-control" type="text" readonly value="@ViewBag.Hotel.Telefone" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            @if (!string.IsNullOrEmpty(ViewBag.Hotel.Img)) // se tiver imgem ela será exibida
                            {
                                <figure>
                                   
                                    <img alt="Imagem do hotel" class="img-thumbnail" src="@ViewBag.Hotel.Img" />
                                </figure>
                                
                            } 
                        </div>
                    </div>
                    <!--End Hotel-->

                }

                </div>
            </div>
            <div class="panel-footer">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success">Comprar</button>
            </div>
        </div>

    </form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
  
<script>
     function calc_total(){
         var criancas = parseInt(document.getElementById("qtdCr").value);
         var adultos = parseInt(document.getElementById("qtdAd").value);
         var valorViagem = parseFloat(document.getElementById("valorViajem").value);
         var valorTotal = (criancas + adultos) * valorViagem;

         document.getElementById("valorTotal").value = valorTotal;

     }
</script>
<script type="text/javascript" src="~/Content/assets/plugins/card/lib/js/card.js"></script>  					

<link type="text/css" href="~/Content/assets/plugins/card/lib/css/card.css" rel="stylesheet">
<!-- Card -->

}
