@model IEnumerable<viajanet.Models.Hotel>

@{
    ViewBag.Title = "Hoteis";
}

<h2>Selecione o Hotel para hospedagem (Se disponível)</h2>
<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("confirmHospedagem","Compras", new {viagem = TempData.Peek("idViagem") })" class="btn btn-info pull-right"><span>Não desejo hospedagem / Não há Hoteis disponíveis</span></a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="store">
            @foreach (var item in Model)
{
            <div class="box">
                <div class="row">
                    <div class="col-sm-4">
                        @if (string.IsNullOrEmpty(item.Img))
                        {
                            <img src="~/Content/assets/img/imagem-nao-disponivel.png" class="mb20 img-responsive img-thumbnail">
                        }
                        else
                        {
                            <img src="~/Imagens/Hoteis/@item.Img" class="mb20 img-responsive img-thumbnail">
                        }
                        
                    </div>

                    <div class="col-sm-8">
                        <h3 class="product-title mt0 mb10"><a href="#">@Html.DisplayFor(modelItem => item.Nome)</a></h3>
                        <dl>

                            <dt>
                                @Html.DisplayNameFor(model => model.Telefone)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.Telefone)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Longradouro)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.Longradouro)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Cidade.Nome)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.Cidade.Nome)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Bairro)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.Bairro)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Cep)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.Cep)
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="product-footer clearfix">
                    <div class="pull-right">
                        <a href="@Url.Action("confirmHospedagem","Compras",new { hotel = item.Id , viagem = @TempData.Peek("idViagem") })" class="add-to-cart btn btn-success pull-right"><i class="fa fa-bed"></i>&nbsp;<span class="hidden-xs">Reservar hospedagem</span></a>
                    </div>
                </div>
            </div>
}
        </div>
    </div>
</div>


