@model IEnumerable<viajanet.Models.Compra>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hotel.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Viajem.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fk_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qtd_Adultos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qtd_Criancas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor_Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroCartao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeTitular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expiracao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CVC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hotel.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Viajem.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fk_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qtd_Adultos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qtd_Criancas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor_Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroCartao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeTitular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expiracao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CVC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
