@using Microsoft.AspNet.Identity
@if (!User.Identity.IsAuthenticated)
{
    Response.Redirect("/Account/Login");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <title>@ViewBag.Title - Viajanet</title>

    <link href='http://fonts.googleapis.com/css?family=RobotoDraft:300,400,400italic,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/assets/fonts/font-awesome/css/font-awesome.css" />

    <!-- render css basic files-->
    @Styles.Render("~/Content/css")
    <!-- end render css-->
    <!--Render jquery-->
    @Scripts.Render("~/bundles/jquery")
    <!--Render plugins-->
    @Scripts.Render("~/Content/assets/plugins")
    <!--Render moder-->
    @Scripts.Render("~/bundles/modernizr")
    <!--Render boot-->
    @Scripts.Render("~/bundles/bootstrap")
    <!--Render aplication-->
    @Scripts.Render("~/Content/assets/js")
    @RenderSection("scripts", required: false)

</head>
<body class="infobar-offcanvas">


    <header id="topnav" class="navbar navbar-midnightblue navbar-fixed-top clearfix" role="banner">

        <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
            <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar"><span class="icon-bg"><i class="fa fa-fw fa-bars"></i></span></a>
        </span>

        <a class="navbar-brand" href="@Url.Action("Index","Home")">Avenger</a>


        <div class="yamm navbar-left navbar-collapse collapse in">
            <ul class="nav navbar-nav"></ul>
        </div>


        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                <ul class="nav navbar-nav toolbar">
                    <li style="margin-right:18px;" class="dropdown toolbar-icon-bg mr-sm"><a title="Sair" data-toggle="tooltips" class="" href="javascript:document.getElementById('logoutForm').submit()"><span class="icon-bg"><i class="fa fa-fw fa-sign-out"></i></span></a></li>
                </ul>
            }
        }

    </header>

    <div id="wrapper">
        <div id="layout-static">
            <div class="static-sidebar-wrapper sidebar-midnightblue">
                <div class="static-sidebar">
                    <div class="sidebar">
                        <div class="widget stay-on-collapse" id="widget-welcomebox">
                            <div class="widget-body welcome-box tabular">
                                <div class="tabular-row">
                                    <div class="tabular-cell welcome-avatar">
                                        <a href="#"><img src="http://placehold.it/300&text=Placeholder" class="avatar"></a>
                                    </div>
                                    <div class="tabular-cell welcome-options">
                                        @if (Request.IsAuthenticated)
                                        {

                                            <span class="welcome-text">Olá,</span>
                                                @Html.ActionLink(User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "name" })


                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget stay-on-collapse" id="widget-sidebar">
                            <nav role="navigation" class="widget-body">
                                <ul class="acc-menu">
                                    <li class="nav-separator">Menu</li>
                                    <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i><span>Página Inicial</span></a></li>
                                    <li>
                                        <a href="javascript:;"><i class="fa fa-user"></i><span>Clientes</span></a>
                                        <ul class="acc-menu">
                                            <li><a href="#">Cadastrar Clientes</a></li>
                                            <li><a href="#">Visualizar Clientes</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-separator">Hoteis e Viajens</li>
                                    <li>
                                        <a href="javascript:;"><i class="fa fa-building"></i><span>Hoteis</span></a>
                                        <ul class="acc-menu">
                                            <li><a href="@Url.Action("Create","Hotels")">Cadastrar Hoteis</a></li>
                                            <li><a href="@Url.Action("Index","Hotels")">Visualizar Hoteis</a></li>
                                            <li>
                                                <a href="javascript:;"><i class="fa fa-bed"></i> <span>Quartos</span></a>
                                                <ul class="acc-menu">
                                                    <li><a href="@Url.Action("Create","Quartos")">Cadastrar Quartos</a></li>
                                                    <li><a href="@Url.Action("Index", "Quartos")">Visualizar Quartos</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;"><i class="fa fa-plane"></i><span>Viajens</span></a>
                                        <ul class="acc-menu">
                                            <li><a href="@Url.Action("Create","Viajens")">Cadastrar Viajens</a></li>
                                            <li><a href="@Url.Action("Index","Viajens")">Visualizar Viagens</a></li>
                                            <li><a href="#">Comprar Viajnes</a></li>
                                        </ul>
                                    </li>


                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="static-content-wrapper">
                <div class="static-content">
                    <div class="page-content">
                        <div class="page-heading">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        @RenderBody()
                                    </div>
                                </div>
                            </div> <!-- .container-fluid -->
                        </div> <!-- #page-content -->
                    </div>
                    <footer role="contentinfo">
                        <div class="clearfix">
                            <ul class="list-unstyled list-inline pull-left">
                                <li><h6 style="margin: 0;"> &copy; 2015 Viajanet</h6></li>
                            </ul>
                            <button class="pull-right btn btn-link btn-xs hidden-print" id="back-to-top"><i class="fa fa-arrow-up"></i></button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
