@model viajanet.Models.Viajem

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Você realmente deseja apagar esta viajem?</h3>
                            <p class="text-center">Obs: caso algum pacote esteja associado a esta viajem a ação não será conluída.</p>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                <dt>
                                    De
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Cidade1.Nome)
                                </dd>
                                <dt>
                                    Companhia aérea
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Companhia.Nome)
                                </dd>
                                <dt>
                                    Data de Ida
                                </dt>

                                <dd>
                                    @Model.Data_Ida.ToShortDateString()
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                <dt>
                                    Para
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Cidade.Nome)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Valor)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Valor)
                                </dd>
                                <dt>
                                    Data de volta
                                </dt>

                                <dd>
                                    @Model.Data_Volta.ToShortDateString()
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-actions">
                                        <input type="submit" value="Apagar" class="btn btn-danger pull-right" />
                                        @Html.ActionLink("Voltar", "Index", "Viajens", new { @class = "btn btn-warning pull-left" })
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
