@model IEnumerable<viajanet.Models.Viajem>

@{
    ViewBag.Title = "resultViajens";
}

<h2>resultViajens</h2>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Hoteis</h2>
                <div class="panel-ctrls">
                </div>
            </div>
            <div class="panel-body panel-no-padding table-responsive">
                <table id="example" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Estado de saída
                            </th>
                            <th>
                                Cidade saida
                            </th>
                            <th>
                                Estado de destino
                            </th>
                            <th>
                                Cidade destino
                            </th>
                            <th>
                                Companhia aérea
                            </th>
                            <th>
                                Data de ida
                            </th>
                            <th>
                                Data de Volta
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Valor)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>



                                <td>
                                    @Html.DisplayFor(modelItem => item.Estado.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cidade1.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Estado1.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cidade.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Companhia.Nome)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Data_Ida)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Data_Volta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Valor)
                                </td>
                                <td style="white-space: nowrap;">
                                    <a href="@Url.Action("Comprar","Compras",new { id = item.Id })" class="btn btn-success" title="Comprar" data-toggle="tooltip"><span>Comprar <i class="fa fa-shopping-bag"></i></span></a>
                                    <a href="@Url.Action("Details",new { id = item.Id })" class="btn btn-info" title="Detalhes da viagem" data-toggle="tooltip"><span>Detalhes <i class="fa fa-list"></i></span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-warning" href="@Url.Action("procurarViajens","Viajens")"><span>Voltar <i class="glyphicon glyphicon-arrow-left"></i></span></a>
    </div>
</div>
