@model viajanet.Models.Hotel

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center">Você realmente deseja apagar este hotel?</h3>
                        <p class="">Obs: caso algum pacote de viajem possua reserva neste hotel a ação não será conluída.</p>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <p class="text-center">@Html.DisplayFor(model => model.Nome)</p>
                @if (!string.IsNullOrEmpty(Model.Img))
                {
                    <figure>
                        <img  src="~/Imagens/Hoteis/@Model.Img" class="center-block img-thumbnail" />
                    </figure>
                }
                else
                {
                    <img src="~/Content/assets/img/imagem-nao-disponivel.png" class="center-block img-thumbnail">
                }
                    <hr />
                    <dl class="">
                        <dt>
                            @Html.DisplayNameFor(model => model.Cidade.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Cidade.Nome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Longradouro)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Longradouro)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Bairro)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Bairro)
                        </dd>

                    </dl>
                

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions">
                                    <input type="submit" value="Apagar" class="btn btn-danger pull-right" /> 
                                    <a href="@Url.Action("Index")" class="pull-left btn btn-warning">Voltar</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

