@model viajanet.Models.Hotel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">@Html.DisplayFor(model => model.Nome)</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Estado.Nome)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Estado.Nome)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Cidade.Nome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cidade.Nome)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Telefone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Telefone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Longradouro)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Longradouro)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Bairro)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Bairro)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Cep)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cep)
                    </dd>
                </dl>

            </div>
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dd>
                        @if (string.IsNullOrEmpty(Model.Img))
                        {
                            <img src="~/Content/assets/img/imagem-nao-disponivel.png" class="img-responsive img-thumbnail">
                        }
                        else
                        {
                            <img src="~/Imagens/Hoteis/@Model.Img" class="img-thumbnail" />
                        }
                        
                    </dd>
                </dl>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-warning pull-left" href="@Url.Action("Index","Hotels")"><span><i class="fa fa-arrow-left"></i> Voltar</span></a>
                    <a href="@Url.Action("Edit",new { id = Model.Id })" class="btn btn-info pull-right"><span><i class="fa fa-edit"></i> Editar dados</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

